<!-- Navigation Menu for Lazy Loading -->
<!-- <nav>
  <a routerLink="/basic-form/basic-form">Basic Form</a>
  <a routerLink="/reactive-form/reactive-form">Reactive Form</a>
  <a routerLink="/built-in-directives/built-in-directives">Built in directives</a>
  <a routerLink="/components-interaction/components-interaction">Components Interaction</a>
  <a routerLink="/components-example/components-example">Components Example</a>
  <a routerLink="/basic-http-service/basic-http-service">Basic HTTP Service</a>
  <a routerLink="/life-cycle-example/life-cycle-example">Component Life Cycle</a>
  <a routerLink="/services-di/services-di">Services DI</a>
  <a routerLink="/advanced-di/advanced-di">Advanced DI</a>
  <a routerLink="/templates-binding/templates-binding">Template Bindings</a>
  <a routerLink="/lazy">Lazy</a>
</nav> -->


<nav class="navbar-primary">
  <a href="#"
     class="btn-expand-collapse"><span class="glyphicon glyphicon-menu-left"></span></a>
  <ul class="navbar-primary-menu">
    <li>
      <a [routerLink]="['/basic-form']"><span class="glyphicon glyphicon-list-alt"></span><span class="nav-label">Basic Form</span></a>
      <a [routerLink]="['/basic-form','16']"><span class="glyphicon glyphicon-envelope"></span><span class="nav-label">Basic Form (id)</span></a>
      <a [routerLink]="['/basic-form','15']" [queryParams]="{ order: 'popular'}"><span class="glyphicon glyphicon-envelope"></span><span class="nav-label">Basic Form (params)</span></a>
      <a [routerLink]="['/reactive-form']"><span class="glyphicon glyphicon-cog"></span><span class="nav-label">Reactive Forms</span></a>
      <a [routerLink]="['/built-in-directives']"><span class="glyphicon glyphicon-film"></span><span class="nav-label">Built in directives</span></a>
      <a [routerLink]="['/components-interaction']"><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">Components Interaction</span></a>
      <a [routerLink]="['/components-example']"><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">Components Example</span></a>
      <a [routerLink]="['/basic-http-service']"><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">Basic HTTP Service</span></a>
      <a [routerLink]="['/life-cycle-example']"><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">Component Life Cycle</span></a>
      <a [routerLink]="['/services-di']"><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">Services DI</span></a>
      <a [routerLink]="['/advanced-di']"><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">Advanced DI</span></a>
      <a [routerLink]="['/css-encapsulation']"><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">CSS Encapsulation</span></a>
      <a [routerLink]="['/templates-binding']"><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">Template Bindings</span></a>
      <a [routerLink]="['/rxjs-typeahead']"><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">rxjs typeahead</span></a>
      <a [routerLink]="['/rxjs-transform_op']"><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">rxjs transform operator</span></a>
      <a [routerLink]="['/view-child']"><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">view-child</span></a>
      <a [routerLink]="['/scss_example']"><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">scss</span></a>

    </li>
  </ul>
</nav>
