<nav class="navbar-primary">
  <a href="#"
     class="btn-expand-collapse"><span class="glyphicon glyphicon-menu-left"></span></a>
  <ul class="navbar-primary-menu">
    <li>
      <a [routerLink]="['/basic-form']"><span class="glyphicon glyphicon-list-alt"></span><span class="nav-label">Basic Form</span></a>
      <a [routerLink]="['/basic-form','16']"><span class="glyphicon glyphicon-envelope"></span><span class="nav-label">Basic Form (id)</span></a>
      <a [routerLink]="['/basic-form','15']" [queryParams]="{ order: 'popular'}"><span class="glyphicon glyphicon-envelope"></span><span class="nav-label">Basic Form (params)</span></a>
      <a [routerLink]="['/reactive-form']"><span class="glyphicon glyphicon-cog"></span><span class="nav-label">Reactive Forms</span></a>
      <a [routerLink]="['/built-in-directives']"><span class="glyphicon glyphicon-film"></span><span class="nav-label">Built in directives</span></a>
      <a [routerLink]="['/components-interaction']"><span class="nav-label">Components Interaction</span></a>
      <a [routerLink]="['/components-example']"><span class="nav-label">Components Example</span></a>
      <a [routerLink]="['/basic-http-service']"><span class="nav-label">Basic HTTP Service</span></a>
      <a [routerLink]="['/life-cycle-example']"><span class="nav-label">Component Life Cycle</span></a>
      <a [routerLink]="['/services-di']"><span class="nav-label">Services DI</span></a>
      <a [routerLink]="['/advanced-di']"><span class="nav-label">Advanced DI</span></a>
      <a [routerLink]="['/css-encapsulation']"><span class="nav-label">CSS Encapsulation</span></a>
      <a [routerLink]="['/templates-binding']"><span class="nav-label">Template Bindings</span></a>
      <a [routerLink]="['/rxjs-typeahead']"><span class="nav-label">rxjs typeahead</span></a>
      <a [routerLink]="['/rxjs-transform_op']"><span class="nav-label">rxjs transform operator</span></a>
      <a [routerLink]="['/view-child']"><span class="nav-label">view-child</span></a>
      <a [routerLink]="['/scss_example']"><span class="nav-label">scss</span></a>
      <a [routerLink]="['/resolvers']"><span class="nav-label">Resolvers</span></a>
      <a [routerLink]="['/lazy']"><span class="nav-label">Lazy</span></a>
      <a [routerLink]="['/pipes_examples']"><span class="nav-label">Pipes</span></a>
    </li>
  </ul>
</nav>
