<!-- Navigation Menu for Lazy Loading -->
<!-- <nav>
  <a routerLink="/basic-form/basic-form" routerLinkActive="active">Basic Form</a>
  <a routerLink="/reactive-form/reactive-form" routerLinkActive="active">Reactive Form</a>
  <a routerLink="/built-in-directives/built-in-directives" routerLinkActive="active">Built in directives</a>
  <a routerLink="/components-interaction/components-interaction" routerLinkActive="active">Components Interaction</a>
  <a routerLink="/components-example/components-example" routerLinkActive="active">Components Example</a>
  <a routerLink="/basic-http-service/basic-http-service" routerLinkActive="active">Basic HTTP Service</a>
  <a routerLink="/life-cycle-example/life-cycle-example" routerLinkActive="active">Component Life Cycle</a>
  <a routerLink="/services-di/services-di" routerLinkActive="active">Services DI</a>
  <a routerLink="/templates-binding/templates-binding" routerLinkActive="active">Template Bindings</a>
</nav> -->


<nav>
  <a routerLink="/basic-form" routerLinkActive="active">Basic Form</a>
  <a routerLink="/reactive-form" routerLinkActive="active">Reactive Form</a>
  <a routerLink="/built-in-directives" routerLinkActive="active">Built in directives</a>
  <a routerLink="/components-interaction" routerLinkActive="active">Components Interaction</a>
  <a routerLink="/components-example" routerLinkActive="active">Components Example</a>
  <a routerLink="/basic-http-service" routerLinkActive="active">Basic HTTP Service</a>
  <a routerLink="/life-cycle-example" routerLinkActive="active">Component Life Cycle</a>
  <a routerLink="/services-di" routerLinkActive="active">Services DI</a>
  <a routerLink="/templates-binding" routerLinkActive="active">Template Bindings</a>
</nav>
