$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

@mixin upercase() {
  text-transform: uppercase;
}

@mixin box($color) {
  border: 2px solid $color;
  margin: 20px;
  padding: 20px;
  text-align: center;
}


.parent {

  font: 100% $font-stack;
  color: $primary-color;

  @include upercase();
  @include box(red);


  .child {
    @include box(green);
  }
}
