<!-- <app-life-cycle></app-life-cycle> -->
<!-- <app-service-di></app-service-di> -->
<!-- <app-wrapper></app-wrapper> -->
<!-- <app-built-in-directives></app-built-in-directives> -->
<!-- <app-component-interaction-parent></app-component-interaction-parent> -->
<!-- <app-templates-data-binding></app-templates-data-binding> -->
<!-- <app-http-service></app-http-service> -->
<!-- <app-basic-form></app-basic-form> -->
<!-- <app-reactive-form></app-reactive-form> -->

<nav class="navbar navbar-inverse navbar-global navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"
         href="/dashboard">Code-Hub Angular Examples</a>
    </div>
  </div>
</nav>
<app-nav-bar></app-nav-bar>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
