<div>
  <span *ngIf="userisLoggedIn">Is logged in</span>
  <span *ngIf="!userisLoggedIn">Is NOT logged in</span>
</div>

<form [formGroup]="myForm" (submit)="submitForm(myForm)">
  <p>
    First Name  <br/>
    <input type="text" formControlName="firstName">
  </p>
  <p>
    Last Name  <br/>
    <input type="text" formControlName="lastName">
  </p>
  <p>
    Email  <br/>
    <input type="text" formControlName="email">
  </p>
  <p>
    Password <br/>
    <input type="text"  formControlName="password">
  </p>
  <button>Submit</button>
</form>
